table{
    border-bottom: 2px;
    border-left: 2px;
    border-top: 2px;
    border-right: 2px;
    fill-opacity: 69%;
    border-color: #627991;
    background-color: #222b34;
    -webkit-text-stroke-color: #FFFFFF;
}